@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	background-color: #fff !important;
}

.category-hover:hover{
    background-color: rgb(214, 214, 218);
    transition:ease-in-out 0.6s;
    color: white;
}
a{
    color: black !important;
}
.search_bar{
    width: 480px;
    height: 40px;
    padding:15px;
    font-size: 17px;
	color: #F6F193;
    border: none;
    background-color: #201658;
}
.search_bar:focus{
    border: none;
    outline: none;
}
.select_category{
    font-size: 13px;
    padding:0px 15px;
    height: 40px;
    border: none;
    background-color: aliceblue;
}
.select_category:focus{
    outline: none;
}
@media (max-width:575.98px) {
    .search_bar{
        display: none;
    }
    .select_category{
        display: none;
    }
}
.card-title:hover{
    color: rgb(243, 163, 15);
}
.hero-bg{
    /* background-color: #18253a; */
    background-image: url("./assets/images/hero-bg.svg");
}

.custom_card{
    background-color: white;
    text-align: center;
    padding: 7px;

}
.custom_card:hover{
    background-color: #F6F193;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.custom_card:hover img{
    transform: scale(1.2);
    transition: all 0.5s;
}

/* ========================================================== */
/* 				  		     Product card                     */
/* ========================================================== */

.team-box{
	background-color: #eef0f1;
    border-bottom: 3px solid #e0e0e0;
	margin-bottom:20px;
	padding:1px 20px 15px 20px;
	-webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.team-box h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	text-transform:uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.team-item:hover h3{
	color:#228798;
}

.team-box p.team-info{
	font-size:16px;
	font-style:italic;
	margin-bottom:5px;
}

.team-popup{
	display:block;
	position:relative;
	overflow:hidden;
    background-color:#34b1c4;
}

.team-popup .team-popup-overlay {
	background-color:#000;
	position: absolute;
	display: block;
	overflow:hidden;
	z-index: 2;
	height:100%!important;
	top: 0%;
	margin-top: 0px;
	left: 0%;
	right: 0%;
	font-size: 22px;
	color:#fff;
	text-align: center;
	font-weight:300;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-popup .team-popup-overlay .team-icon{
	position: absolute;
	display: inline-block;
	z-index: 3000;
	top: 50%!important;
	margin-top: -15px!important;
	left: 0%;
	right: 0%;
}

.team-popup .team-popup-overlay .team-icon a{
	margin:0 3px;
	color:#fff;
	font-size: 28px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-popup .team-popup-overlay .team-icon a:hover{
	color:#34b1c4;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-popup .team-popup-overlay:hover{
	opacity: 0.8!important;
}

/* ========================================================== */
/* 				  		     Swiper slider js                 */
/* ========================================================== */

.swiper {
	width: 100%;
	height: 100%;
  }
  
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
  
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  

  .poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
  }
  
  .poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
  }
  
  .poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
  }
  
  .poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
  }
  
  .poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
  }
  
  .poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
  }
  
  .poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
  }
  
  .poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
  }
  
  .poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
  }
  
  .poppins-black-italic {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-style: italic;
	font-size: 40px;
  }
  